
.header {
  background-image: url(./assets/books.webp);
  top: 0;
  margin-left: 0%;
  margin-right: 0%;
  padding: 15px;
  font-size: medium;
  color: white;
  font-size: 35px;
  height: 50px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

.button {
  overflow: hidden;
}

.button a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.button a:hover {
  background-color: #ddd;
  color: black;
}

.button a.active {
  background-color: #04aa6d;
  color: white;
}

.title {
  float: left;
  top: 0;
}

.top_info {
  text-align: center;
  font-size: 75px;
}

.top_paragraph {
  text-align: justify;
  font-size: 25px;
}

img {
  align-items: center;
  height: 600px;

  width: 100%;
}

.scene {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 800px;
  padding: 10px;
  padding-right: 20px;
}

.card {
  position: relative;
  width: 360px;
  height: 500px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}
.card:hover {
  transform: rotateY(1turn);
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    background-color: brown;
    color: white;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__face--front {
z-index: 100;
}
.card__face--back--back {
  transform: rotateY(0.5turn);
  z-index: 0;

}
.card__face--front:hover {
z-index: 1;
}
.card__face--back--back {
  transform: rotateY(0.5turn);
  z-index: 50;
=======
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: grey;
}

#container {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 20px;
    
}

.top {
    text-align:center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.bottom {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}


.img-1 {
    width: 350px;
    border-radius: 200px;
}
.img-2 {
    width: 370px;
    height: 350px;
    border-radius: 200px;
}
.img-3 {
    width: 350px;
    height: 350px;
    border-radius: 200px;
}

.offer-list {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
}

.list {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width:400px;
}

.icons {
    width: 15px;
    position:relative;
}

.logo {
    width: 40px;
    height: 40px;
}
footer {
    text-align: center;
    padding: 15px;
    margin: 10px;

}